
body {
    height: fit-content;

    margin: 0;
    
    background-color: rgb(24, 24, 24);
    animation: MoveBG 35s ease infinite;

    font-family: "Noto Sans Mono", monospace;
}

::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 601px) {
    .header {
        font-size: 1em;
    }
    .about-me-container {
        font-size: 1.1em;
    }
    .experience-header {
        font-size: 2em;
    }
    .job-box {
        margin-bottom: 1.5em;
    }
    .project {
        height: 7.5em;
    }
}

@media screen and (max-width: 800px) {
    .project {
        font-size: 0.5em;
    }
    .header {
        font-size: 0.5em;
    }
    .experience-header {
        font-size:0.7em;
    }
    .experience-box {
        font-size: 0.5em;
    }
    .job-box {
        font-size: 0.5em;
    }
    .about-me-container {
        font-size: 0.7em;
    }
}

@media  screen and (max-width: 600px) {
    .project {
        font-size: 0.4em;
        height: 10em;
    }
    .job-box {
        margin-bottom: 3.5em;
    }
}

.header {
    background-color: rgb(15, 15, 15);
    height: 10vmin;
    height: 12vmin;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.8);
}

.header-list {
    font-size: 1em;
    margin-left: 15%;
    margin-right: 15%;
}

.header-list a {
    color: rgb(165, 165, 165);
    margin-right: 0.5em;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.header-list span {
    transition: all 0.15s;
}

.header-list a::before {
    content: "";
    position: absolute;
    bottom: -1vh;
    left: 0;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.10s;
    border-bottom-width: 0.3vh;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    transform: scale(0.1, 1);
}

.header-list a:hover span {
    /* letter-spacing: 0.5px; */
}


.header-list a:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.header-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
}

.header-list a.active {
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.header-list a:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.header img {
    width: 0.8em;
}

.main {
    font-size: 100%;
}

.main-container {
    color: rgb(175, 175, 175);
    margin-top: 20vmin;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 12%;
    text-align: center;
}

/* 
.info-col {
    width: 20em;
    display: inline-block;
    vertical-align: top;
    text-align: left;   
}

.info-box {
    vertical-align: top;
    text-align: left;
    border-style: solid;
}

.info-box li {
    padding-right: 1em;
    margin-left: 0.2em;
}

.info-title {
    margin: 0 1em 0 1em;
    font-weight: bold;
    font-size: 1em;
}

.info-subheader {
    font-weight: lighter;
    font-style: italic;
    color: rgb(163, 163, 163);
}

.info-contents {
    line-height: 1.5em;
    color: rgb(175, 175, 175);

}

.info-contents ul {
    padding-left: 5vmin;
}

.info-contents b {
    color: rgb(175, 175, 175);
} */

.about-me-container {
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}

.about-me {
    text-align: left;
    border-color: white;
}

.about-me-header {
    font-size: 2.0em;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: rgb(210, 210, 210);
}


.experience-container {
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}

.experience-header {
    text-align: left;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    color: rgb(185, 185, 185);
}

.experience-box {
    color: rgb(165, 165, 165);
    vertical-align: top;
    text-align: left;
}

.experience-box ul {
    padding-left: 1.5em;
}

.experience-box li {
    margin-bottom: 0.2em;
}

.experience-box li b {
    font-size: 1.3em;
}

.job-box {
    height: 4em;
    /* margin-bottom: 1.5em; */
}

.job-box a {
    font-size: 1.5em;
    color: rgb(115, 128, 241);
    text-decoration: none;
}

.row {
    display:flex;
    justify-content: space-between;
    margin-bottom: 2px;

}

.left {
    text-align: left;
}

.right {
    text-align: right;
    
}

/* ===== Projects ===== */

.projects-container {
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}

.project {
    padding: 0.5em;
    border-style: solid;
    border-width: 0.14em;
    border-color: rgb(15, 15, 15);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /* height: 7.5em; */
    margin-bottom: 1.5em;
    background-color: rgb(15, 15, 15);
}

.project-heading {
    font-weight: 700;
    font-size: 1.3em;
}

.project-subheading {
    font-weight: 300;
    font-size: 0.85em;
    font-style: italic;
    margin-top: 0em;
}

.project a img {
    width: 1.5em;
}

.project ul {
    padding-left: 1em;
    padding-top: 0em;
    margin-top: 0em;
    font-size: 1.0em;
    font-weight: 500;
}