

body {
    height: 200vh;
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2vh;
}

/* background-image: url('../images/MediterraneanFutureBlurred.jpg'); */
/* body {
    height: 200vh;
    
    background-color: #26362e;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 80px;
    padding: 30px;
    position: absolute;
} */

header {
    background-color: rgb(24, 24, 24);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8%;
    display: flex;
    align-items:center;
    /* display:inline-flex */
}
/* box-shadow: 0 0 25px 0 black; */

header * {
    display: inline;
}

header li {
    font-size:120%;
    margin: 20px;
}


header li a {
    font-style:italic;
    color: rgb(161, 161, 161);
    text-decoration: none;
    cursor:pointer;
}

main {
    color: white;
    /* margin-top: 12%; */
}

main a {
    color: white;
    text-decoration: underline;
    font-style: italic
}

.projects-main {
    color:bisque;
}

.projects-box {
    color: white;
    font-size: 2.4vh;
    font-family: 'Kanit', sans-serif;
}

.project-description {
    /* width: calc(100% - 2em); */
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid none solid none;
    border-width: 0.07em;
    border-color: rgb(255, 255, 255);
    display: flex;
    padding: 1em;
    height: 10em;
}

.experience-main {
    color:bisque;
}

/* exp-col */

/* exp-box  */





/* SKILLS PAGE */
/* 
.skills-section {
    padding: 3em;
    margin: auto;
    text-align: center;
}

.skills-col {
    width: 20em;
    display: inline-block;
    vertical-align: top;
    margin: 0 1em 0 1em;
}


 
.skills-block {
    text-align: left;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.07em;
    background-color: rgba(170, 170, 170, 0.6);
    margin: 1em 0 1em 0;
    border-radius: 2px;
    padding: 4px;
}


.page-section {
    color: rgb(1, 1, 1);
    border-style: solid;
    border-width: 0.1em;
    background-color: rgba(0, 0, 0, 0.8);
}

.page-section.name {
    color: rgb(1, 0, 0);
} */



/* 
.skill-block {
    margin: 1em 0 1em 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-style: solid;
    border-width: 0.07em;
    border-color: rgb(255, 255, 255);
    border-radius: 0.3em;
    padding: 0.5em;
}

.skills-col {
    width: 20em;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
    margin: 0 1em 0 1em;
}

.skills-section {
    padding: 2em;
    position: relative;
    margin: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
} */



/* used for most content
.content {
    left: 0;
    top: 0;
    color:rgb(255, 255, 255);
    text-align: center;
} */






/* 
.skills-page {
    background: url('../images/MediterraneanFuture.jpg');
    background-clip: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
} */
 
