
.css-selector{
    -webkit-animation: MoveBG 0s ease infinite;
    -moz-animation: MoveBG 0s ease infinite;
    animation: MoveBG 0s ease infinite;
}

@keyframes MoveBG {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

@-webkit-keyframes MoveBG {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

@-moz-keyframes MoveBG {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

body {
    height: fit-content;
    
    /* background-image:linear-gradient(to right, rgb(226, 121, 87), rgb(249, 226, 100)); */

    /* background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9, 9, 121, 1) 0%, rgba(49, 189, 70, 1) 100%);  */
    /* background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(25, 25, 124) 0%, rgb(59, 147, 73) 100%);  */

    /* background-image: linear-gradient(312deg, rgba(2,0,36,1) 0%, rgb(26, 26, 64) 0%, rgb(117, 37, 29) 100%);  */
    /* background-image: linear-gradient(312deg, rgb(19, 149, 86) 0%, rgb(41, 41, 132) 0%, rgb(117, 37, 29) 100%);  */
    /* background-image: linear-gradient(312deg, rgb(19, 149, 86), rgb(61, 61, 173), rgb(169, 51, 40));  */
    
    /* background-image: linear-gradient(312deg, rgb(1, 117, 102), rgb(37, 37, 146), rgb(130, 32, 23));  */
    /* background-image: linear-gradient(312deg, rgb(130, 32, 23), rgb(1, 117, 102), rgb(37, 37, 146));  */
    
    margin: 0;
    /* background-size: 350vmax 350vmax; */
    /* background-size: 400vmax 400vmax; */
    background-color: rgb(24, 24, 24);
    animation: MoveBG 35s ease infinite;
    
    /* background-color: rgb(73, 73, 73); */

    /* font-family: "Noto Sans Mono", monospace; */
    font-family: "Geologica", sans-serif;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

::-webkit-scrollbar {
    display: none;
}

/* ===== HEADER ===== */

.header {
    font-family: "Noto Sans Mono", monospace;
    background-color: black;
    background-color: rgb(15, 15, 15);
    /* color: white; */
    height: 10vmin;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    /* justify-content: center; */
    justify-content: left;
    align-items: center;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.8);
    /* max-height: 79; */
}

.header-list {
    /* align-items: center; */
    font-size: 3.5vmin;
    /* margin: 1em; */
    margin-left: 15%;
    margin-right: 15%;
}

.header-name {
    /* color: rgb(222, 222, 222); */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* text-shadow: 0.07em 0.07em 0px rgba(123, 123, 123, 0.6); */
    font-size: 4.3vmin;
    position: fixed;
    /* font-weight: bold; */
    top: 0;
    right: 0;
    /* left: 0; */
    /* margin-left: 1.5vw; */
    margin-right: 3vw;
    margin-top: 0.55em;
    cursor: pointer;
}

.header-list a {
    font-size: 2.6vmin;
    /* color: rgba(255, 255, 255, 0.8); */
    color: rgb(165, 165, 165);
    /* margin-left: 1.0vw; */
    margin-right: 1.0vw;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.header-list span {
    transition: all 0.15s;
}

.header-list a::before {
    content: "";
    position: absolute;
    bottom: -1vh;
    left: 0;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.10s;
    border-bottom-width: 0.3vh;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    transform: scale(0.1, 1);
}

.header-list a:hover span {
    /* letter-spacing: 0.5px; */
}


.header-list a:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.header-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
}

.header-list a.active {
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.header-list a:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.header img {
    width: 1vmax;
}


/* ===== Home ===== */

.section-links {
    text-align: center;
    display: inline-block;
}

.section-link {
    padding: 0.4em;
    padding-right: 7vw;
    padding-left: 7vw;
    font-weight: 400;
    letter-spacing: 0.5px;
    max-width: max-content;
    /* min-width: 6em; */
    min-width: 30vw;
    text-align: center;
    font-size: 3vmax;
    margin: 0.2em;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 20em 20em;
    border-radius: 0.1em;
    cursor: pointer;
    transition: all 0.15s;
    transform: skew(0);
}

.section-link:hover {
    /* border-radius: 0.0em; */
    /* background-color: rgba(30, 30, 30, 0.5); */
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    /* background-position: 75% 75%; */
    font-weight: 600;
    transform: scale(0.96, 0.96);
}

/* ===== MAIN ===== */

.main {
    font-size: 100%;
    /* color:white; */
}

.main-container {
    color: rgb(175, 175, 175);
    margin-top: 15vmin;
    margin-left: 15%;
    margin-right: 15%;
    /* margin-left: 15vw; */
    /* margin-right: 15vw; */
    margin-bottom: 12vh;
    text-align: center;
}

/* .container {
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
} */

.main-header {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family: "Noto Sans Mono", monospace; */
    font-family: "Geologica", sans-serif;
    font-size: 5vmax;
    font-weight: bold;
    text-align: left;
    /* text-shadow: 0.07em 0.07em 0px rgba(0, 0, 0, 0.6); */
    /* text-shadow: 0.07em 0.07em 0px rgba(0, 0, 0, 0.6); */
    transition: all 0.1s;
    margin-bottom: 0.2em;
    margin-top: 0.8em;
}

/* .main-header:active {
    transform: scale(0.98);
} */


.main-links {
    text-align: center;
    margin: 2vh; 
    margin-bottom: 1vmin;
}

.main-links a {
    text-decoration: none;
}

.main-links img:hover {
    transform: scale(1.1, 1.1);
}

.main-links img {
    transition: all 0.15s;
    margin: 0.5vmax;
    /* width: 3vmax; */
    width:  4vmax;
    min-width: 1.7em;
    
}

.section-header {
    color: rgb(230, 230, 230);
    font-size: 4vmax;
    text-align: center;
    margin: 3vh;
    font-style: normal;
    font-weight: bold;
}

.center-title {
    font-style:italic;
    letter-spacing: 0.5vw;
    font-size: 2vmax;
    border-bottom-width: 0.5vh;
    text-align: center;
    color: rgb(255, 255, 255);
}

.info-col {
    max-width: 30vw;
    min-width: 20vw;
    display: inline-block;
    vertical-align: top;
    text-align: left;   
}

.info-box {
    margin: 0.5vw;
    padding: 1vw;
    /* color: rgb(200, 200, 200); */
    background-color: rgba(0, 0, 0, 0.2);
    /* border-color: rgb(201, 201, 201); */
    border-color: rgb(120, 120, 120);
    /* border-radius: 0.5em; */
    border-radius: 0em;
    border-width: 0.15em;
    border-style: solid;
    /* box-shadow: 0.5em 0.5em 2px rgba(0, 0, 0, 0.2); */
    font-size: 2.4vmin;
}

.info-box li {
    padding-right: 1em;
}

.info-title {
    margin: 0 1em 0 1em;
    font-weight: bold;
    font-size: 1em;
    color: rgb(200, 200, 200)
}

.info-subheader {
    font-weight: lighter;
    font-style: italic;
    color: rgb(163, 163, 163);
}

.info-contents {
    line-height: 1.5em;
    color: rgb(175, 175, 175);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.info-contents ul {
    padding-left: 5vmin;
}

.info-contents b {
    color: rgb(175, 175, 175);
}


/* .about-me {
    text-align: left;
    font-size: 2.8vmin;
    margin: auto;
    margin-top: 0vh;
    width: 42vw;
    padding: 2vw;
    padding-top: 0.4vw;
    height: auto;
} */

.about-me {
    
    text-align: left;
    /* margin-left: 15%;
    margin-right: 15%; */
    /* border-style: solid; */
    /* border-width: 2em; */
    border-color: white;
    /* border-radius: ; */
    letter-spacing: 0.05em;
    font-size: 3vmin;
}

.about-me h1 {
    font-size: 3vmax;
}



/* ===== Projects ===== */

.project-box {
    text-align: left;
    padding: 1vmin;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-width: 0.2em;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 100%;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2vmin;
}

.project-header {
    font-size: 3vh;
    font-weight: bold;
}

.project-header img {
    width: 2vmax;
}

.project-tech {
    color: rgba(255, 255, 255, 0.5);
    font-weight:normal;
    font-size: 2vh;
    font-style: italic;
}

.project-info {
    padding-left: 1vmin;
    font-weight: 525;
    margin: 1vw;
    font-size: 2.5vmin;
}