
.css-selector{
    -webkit-animation: MoveBG 0s ease infinite;
    -moz-animation: MoveBG 0s ease infinite;
    animation: MoveBG 0s ease infinite;
}

@keyframes MoveBG {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

@-webkit-keyframes MoveBG {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

@-moz-keyframes MoveBG {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

body {
    height: fit-content;
    /* background-image:linear-gradient(to right, rgb(226, 121, 87), rgb(249, 226, 100)); */
    /* background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(9, 9, 121) 0%, rgb(49, 189, 70) 100%);  */
    /* background-image: linear-gradient(312deg, rgba(2,0,36,1) 0%, rgb(26, 26, 64) 0%, rgb(117, 37, 29) 100%);  */
    /* background-image: linear-gradient(312deg, rgb(19, 149, 86) 0%, rgb(41, 41, 132) 0%, rgb(117, 37, 29) 100%);  */
    /* background-image: linear-gradient(312deg, rgb(19, 149, 86), rgb(61, 61, 173), rgb(169, 51, 40));  */
    
    background-image: linear-gradient(312deg, rgb(1, 117, 102), rgb(37, 37, 146), rgb(130, 32, 23), rgb(15, 141, 80)); 
    /* background-image: linear-gradient(312deg, rgb(7, 81, 45), rgb(20, 20, 86), rgb(130, 32, 23));  */

    background-size: 350vmax 350vmax;
    animation: MoveBG 45s ease infinite;
    background-color: rgb(73, 73, 73);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/* ===== HEADER ===== */

.header {
    background-color: black;
    color: white;
    height: 10vmin;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1.2em 0 rgba(0, 0, 0, 0.8);
}

.header-list {
    /* font-size: 3vmin; */
    font-size: 3.5vmin;
}

.header-list a {
    color: rgba(255, 255, 255, 0.8);
    color: rgb(150, 150, 150);
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    
}

.header-list span {
    transition: all 0.15s;
}

.header-list a::before {
    content: "";
    position: absolute;
    bottom: -1vh;
    left: 0;
    width:100%;
    height:100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.10s;
    border-bottom-width: 0.3vh;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    transform: scale(0.1, 1);
}

.header-list a:hover span {
    letter-spacing: 0.5px;
}


.header-list a:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.header-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
    
}

.header-list a.active {
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.header-list a:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.header img {
    width: 2vmax;
}


/* ===== Home ===== */

.section-links {
    text-align: center;
    display: inline-block;
}

.section-link {
    padding: 0.5em;
    /* padding-right: 15vw; */
    /* padding-left: 15vw; */
    padding-right: 10vw;
    padding-left: 10vw;

    font-weight: 300;

    /* width: 55vmin; */
    /* width: vmin; */
    /* width: 55vmin; */

    /* width: 55vw; */
    /* max-height: ; */

    max-width: max-content;
    /* max-width: 7em; */
    min-width: 6em;
    min-width: 30vw;
    /* min-width: 4em; */
    text-align: center;
    font-size: 3vmax;
    margin: 0.3em;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 20em 20em;
    border-radius: 0.1em;
    cursor: pointer;
    transition: all 0.2s;
    transform: skew(0);

}

.section-link:hover {
    border-radius: 0.0em;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    background-position: 75% 75%;
    font-weight: 600;
    transform: skew(-0.024turn) scale(0.95, 0.95);
}

/* ===== MAIN ===== */

.main {
    font-size: 100%;
    color:white;
}

.main-container {
    margin-top: 12vmin;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 12vh;
    text-align: center;
}

.main-header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 7vmax;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.07em 0.07em 0px rgba(0, 0, 0, 0.6);
    transition: all 0.1s;
    margin-bottom: 0.2em;
}

.main-header:active {
    transform: scale(0.98);
}


.main-links {
    text-align: center;
    margin: 2vh; 
    margin-bottom: 4vmin; 
}

.main-links a {
    text-decoration: none;
    
}

.main-links img:hover {
    transform: scale(1.1, 1.1);
}

.main-links img {
    transition: all 0.2s;
    margin: 0.5vmax;
    /* width: 3vmax; */
    width:  4vmax;
    min-width: 1.7em;
    
}

.section-header {
    color: rgb(230, 230, 230);
    font-size: 4vmax;
    text-align: center;
    margin: 3vh;
    font-style: italic;
    font-weight: bold;
}

.center-title {
    font-style:italic;
    letter-spacing: 0.5vw;
    font-size: 2vmax;
    border-bottom-width: 0.5vh;
    text-align: center;
    color: rgb(255, 255, 255);
}

.info-col {
    max-width: 30vw;
    min-width: 20vw;
    display: inline-block;
    vertical-align: top;
    text-align: left;   
}

.info-box {
    margin: 0.5vw;
    padding: 1vw;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgb(201, 201, 201);
    border-radius: 0.5em;
    border-width: 0.15em;
    border-style: solid;
    box-shadow: 0.5em 0.5em 2px rgba(0, 0, 0, 0.2);
    font-size: 2.4vmin;
}

.info-box li {
    padding-right: 1em;
}

.info-title {
    margin: 0 1em 0 1em;
    font-weight: bold;
    font-size: 1em;
}

.info-subheader {
    font-weight: lighter;
    font-style: italic;
    color: rgb(163, 163, 163);
}

.info-contents {
    line-height: 1.5em;
    color: rgba(210, 210, 210);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.info-contents ul {
    padding-left: 5vmin;
}

.info-contents b {
    color: white;
}


.about-me {
    text-align: left;
    font-size: 3vmin;
    margin: auto;
    margin-top: 0vh;
    background-color: rgba( 0, 0 ,9, 0.2);
    border-radius: 5px;
    width: 55vw;
    padding: 1vw;
    height: auto;
}

/* ===== Projects ===== */

.project-box {
    text-align: left;
    padding: 1vmin;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-width: 0.2em;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 100%;
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 2vmin;
}

.project-header {
    font-size: 3vh;
    font-weight: bold;
}

.project-header img {
    width: 2vmax;
}

.project-tech {
    color: rgba(255, 255, 255, 0.5);
    font-weight:normal;
    font-size: 2vh;
    font-style: italic;
}

.project-info {
    padding-left: 1vmin;
    font-weight: 525;
    margin: 1vw;
    font-size: 2.5vmin;
}